@tailwind base;
@tailwind components;
@tailwind utilities;


.advert {
    background-image: url('./assets/home_advert.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_background {
    background-image: url('./assets/about-us-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog_background {
    background-image: url('./assets/adrian-sulyok-InMD-APxayI-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.advert_div {
    background-color: rgba(0, 0, 0, 0.4);
}

.kind_background {
    background-image: url('./assets/kind_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.solutions_div {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}


/*solutions cards*/
.storage_background {
    background-image: url('./assets/solutions/warehouse.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wms_background {
    background-image: url('./assets/solutions/wms.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pick_background {
    background-image: url('./assets/solutions/pick&pack.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.last_mile_background {
    background-image: url('./assets/solutions/last_mile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free_zone_background {
    background-image: url('./assets/solutions/free_zone.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.warehouse_background {
    background-image: url('./assets/solutions/warehouse.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.images_card_div {
    background-color: rgba(0, 0, 0, 0.3);
}


/*image cards*/
.about_us_card_background {
    background-image: url('./assets/image-cards/about_us.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact_us_card_background {
    background-image: url('./assets/image-cards/contact_us.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free_zone_card_background {
    background-image: url('./assets/image-cards/free_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*about us*/

.about_us_fmcg_background {
    background-image: url('./assets/sector-cards/fmcg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_agri_background {
    background-image: url('./assets/sector-cards/Agri.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_health_background {
    background-image: url('./assets/sector-cards/health.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_electron_background {
    background-image: url('./assets/sector-cards/electron.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.about_us_fashion_background {
    background-image: url('./assets/sector-cards/fashion.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_automotive_background {
    background-image: url('./assets/sector-cards/automotive.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_construction_background {
    background-image: url('./assets/sector-cards/construction.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_chemical_background {
    background-image: url('./assets/sector-cards/checmical.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_oil_background {
    background-image: url('./assets/sector-cards/oil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_cold_background {
    background-color: ghostwhite;
}

/*free-zone-grade-a-facilities*/
.free_zone {

    background-image: url('./assets/free-zone/freezonediv.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.customized_scroll::-webkit-scrollbar {
    width: 20px;
    /* width of the entire scrollbar */
}

.customized_scroll::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
    -webkit-border-radius: 0.5em;

}

.customized_scroll::-webkit-scrollbar-thumb {
    /* background-color: #D1D2D4; */
    /* color of the scroll thumb */
    /* border-radius: 20px; */
    /* roundness of the scroll thumb */
    /* border: 3px solid #D1D2D4; */
    /* creates padding around scroll thumb */

    border: 0.2em solid rgba(0, 0, 0, 0);
    /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 0.5em;
    background-color: #D1D2D4;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}