@tailwind base;
@tailwind components;
@tailwind utilities;


.advert {
    background-image: url('./assets/images/home/World\ class\ Free\ Zone\ Contract\ Logistics\ in\ Nigeria\ &\ West\ Africa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_background {
    background-image: url('./assets/images/about_us/about\ us\ hero.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog_background {
    background-image: url('./assets/images/blog/adrian-sulyok-InMD-APxayI-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*Carousel images*/
#advert {
    background-image: url('./assets/images/home/World\ class\ Free\ Zone\ Contract\ Logistics\ in\ Nigeria\ &\ West\ Africa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* animation-name: change;
    animation-play-state: running;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; */
}

@keyframes change {
    /* 0% {
        background-image: url('./assets/images/about_us/about\ us\ hero.JPG');

    } */

    20% {
        background-image: url('./assets/images/home/home\ first\ of\ its\ kind\ in\ Nigeria.jpg');

    }

    40% {
        background-image: url('./assets/images/blog/adrian-sulyok-InMD-APxayI-unsplash\ 1.png');
    }

    /* 60% {
        background-image: url('./assets/images/home/World\ class\ Free\ Zone\ Contract\ Logistics\ in\ Nigeria\ &\ West\ Africa.jpg');

    } */

    80% {
        background-image: url('./assets/images/about_us/about\ us\ hero.JPG');

    }

    100% {
        background-image: url('./assets/images/blog/adrian-sulyok-InMD-APxayI-unsplash\ 1.png');

    }
}

#about_us_background {
    background-image: url('./assets/images/about_us/about\ us\ hero.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kind_background {
    background-image: url('./assets/images/home/home\ first\ of\ its\ kind\ in\ Nigeria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#blog_background {
    background-image: url('./assets/images/blog/adrian-sulyok-InMD-APxayI-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.advert_div {
    background-image: linear-gradient(to right, rgba(0, 60, 255, 0.3), rgba(0, 60, 255,0.1));
}

.kind_background {
    background-image: url('./assets/images/home/home\ first\ of\ its\ kind\ in\ Nigeria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.solutions_div {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}


/*solutions cards*/
.storage_background {
    background-image: url('./assets/images/Services/services_storage\ &\ handling\ nigeria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wms_background {
    background-image: url('./assets/images/Services/services_WMS\ Based\ Inventory\ Management\ nigeria\ -\ Copy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pick_background {
    background-image: url('./assets/images/Services/services_Pick\,\ Pack\ &\ Value\ Added\ Services\ \(VAS\)\ in\ nigeria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.last_mile_background {
    background-image: url('./assets/images/Services/services_Last\ Mile\ Distribution\ in\ nigeria.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free_zone_background {
    background-image: url('./assets/images/Services/services_Free\ Zone\ &\ Importer\ of\ Record\ \(IOR\)\ Services\ in\ nigeria.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.warehouse_background {
    background-image: url('./assets/images/Services/services_Site\ Management\ Solutions\ in\ nigeria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.images_card_div {
    background-color: rgba(0, 0, 0, 0.3);
}


/*image cards*/
.about_us_card_background {
    background-image: url('./assets/images/footer/We\ are\ a\ TY\ Holding’s\ contract\ logistics\ flagship\ business.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact_us_card_background {
    background-image: url('./assets/images/footer/footer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free_zone_card_background {
    background-image: url('./assets/images/footer/Footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*about us*/

.about_us_fmcg_background {
    background-image: url('./assets/images/Sectors/sector\ food\ &\ fmcg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_agri_background {
    background-image: url('./assets/images/Sectors/sector\ agric\ &\ perishables.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_health_background {
    background-image: url('./assets/images/Sectors/sector\ healthcare.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_electron_background {
    background-image: url('./assets/images/Sectors/sector\ Electronics\ &\ Electrical.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.about_us_fashion_background {
    background-image: url('./assets/images/Sectors/sector\ Fashion\ &\ Apparel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_automotive_background {
    background-image: url('./assets/images/Sectors/sector\ Automotive\ &\ Parts\ Management.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_construction_background {
    background-image: url('./assets/images/Sectors/sector\ construction.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_chemical_background {
    background-image: url('./assets/images/Sectors/sector\ Chemical.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_oil_background {
    background-image: url('./assets/images/Sectors/sector\ mining\ a.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_us_cold_background {
    background-color: ghostwhite;
}

/*free-zone-grade-a-facilities*/
.free_zone {

    background-image: url('./assets/images/free_zone/free\ zone\ hero\ a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.customized_scroll::-webkit-scrollbar {
    width: 20px;
    /* width of the entire scrollbar */
}

.customized_scroll::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
    -webkit-border-radius: 0.5em;

}

.customized_scroll::-webkit-scrollbar-thumb {
    /* background-color: #D1D2D4; */
    /* color of the scroll thumb */
    /* border-radius: 20px; */
    /* roundness of the scroll thumb */
    /* border: 3px solid #D1D2D4; */
    /* creates padding around scroll thumb */

    border: 0.2em solid rgba(0, 0, 0, 0);
    /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 0.5em;
    background-color: #D1D2D4;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}


/*Articles*/

.article_2 {
    background-image: url('./assets/images/articles/Article\ 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_3 {
    background-image: url('./assets/images/articles/article\ 3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_4 {
    background-image: url('./assets/images/articles/article\ 4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_5 {
    background-image: url('./assets/images/articles/article\ 5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_6 {
    background-image: url('./assets/images/articles/Article\ 6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_7 {
    background-image: url('./assets/images/articles/article\ 7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.article_8 {
    background-image: url('./assets/images/articles/article\ 8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_9 {
    background-image: url('./assets/images/articles/article\ 9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_many {
    background-image: url('./assets/images/articles/Article....jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}